CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
install/
doc/doxygen/
doc/Doxyfile
.vscode/

.vs/
out/
CMakeSettings.json
build/
.VSCodeCounter/
data/
